@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 25px;
  visibility: hidden;
}
::-webkit-scrollbar-track {
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
  visibility: hidden;
  opacity: 0;
}
::-webkit-scrollbar-thumb:hover {
  visibility: visible;
  background: #F2B3FF;
}
